# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace
go.work
go.work.sum

# Secrets
.env

# Frontend
frontend/node_modules/
frontend/dist/

# Editor
.idea/
.vscode/
